i.lang{
    width:25px;
    height:16px;
    cursor:pointer;
    display:inline-block;
    background-size:cover!important;
    vertical-align:middle;
    margin-right:10px;
}
i.lang:last-child{
    margin-right:0;
}
i.candy, i.startline, i.data-cube, i[class^="medal-"], i.faults, i.timer, i.chips, i.youtube, i.fuel, i.parts, i.gems, i.coins{
    display: inline-block;
    background-size: cover!important;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
i[class^="medal-"]{
    width:40px;
    height:40px;
}
[part-list] i, [part-list] span{
    margin-right:3px;
}
[part-list] i:last-child, [part-list] span:last-child{
    margin-right:0;
}