* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-size: 0;
    white-space: nowrap;
}

h2 {
    font-size: 15px;
    font-weight: bold;
}

.block {
    font-size: 10px;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

.block:last-child {
    margin-right: 0;
}

.block-spacer {
    display: block;
    width: 100px;
    height: 100px;
}

.next-page-after-me {
    page-break-after: right;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    empty-cells: show;
    border: 1px solid #000;
}

th {
    opacity: 0;
}

td {
    border: solid 1px #000;
    white-space: nowrap;
}

td.center {
    text-align: center;
}

tr.headline td:first-child {
    border-right: 0;
}

tr.headline td:last-child {
    border-left: 0;
    font-family: 'Arial Black', Gadget, sans-serif;
}

tr.spacer td {
    border: 0;
    height: 10px;
    background: #fff;
    border: none;
}
tr.spacer.with-text td {
    background: #fff;
    color: #000;
    font-size: 8px;
}

tr.spacer td:last-child {
    font-family: 'Arial Black', Gadget, sans-serif;
}

.over-min {
    background: #F79F92;
    -webkit-print-color-adjust: exact;
}