body, .season-page {
    display: flex;
}

.no-pad {
    padding: 0
}

hr {
    border: none;
    height: 2px;
    background: #6a4229;
}

h1, h2, h3 {
    color: #61d4d7;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    margin: 5px 0;
}

.seasons-list {
}

@media (min-width: 600px) {
    .seasons-list {
        white-space: nowrap;
        display: flex;
    }
}

.season-container {
    display: inline-block;
    vertical-align: top
}

@media (min-width: 600px) {
    .season-container {
        width: 300px;
        margin-right: 10px;
    }

    .season-container:last-child {
        margin-right: 0;
    }
}

.season-container .season-banner {
    width: 100%;
}

@media (min-width: 600px) {
    .season-container .season-banner {
        width: 300px;
        height: 41px;
    }
}

.season-container .season-bike-state {
    width: 300px;
    height: 169px
}

.season-times {
    position: relative
}

.season-times strong {
    font-size: 33px;
    float: left;
    margin-right: 5px
}

.season-times span {
    position: relative
}

.season-prizes {
    height: 150px;
    overflow: scroll;
    overflow-x: hidden
}

.season-summary {
    border-top: double 6px #ffee99;
    text-align: right;
    padding-top: 10px;
    margin-top: 10px;
}

.season-times .countdown {
    position: absolute;
    right: 0;
    top: 43px;
    color: #61d4d7;
    font-weight: bold;
}

.protect-countdown {
    margin-right: 120px;
}

table {
    width: 100%;
    border-spacing: 0;
    table-layout: fixed;
    padding-right: 5px;
}

td {
    padding: 0;
    height: 50px
}

td.right {
    text-align: right;
}

i[class^="season-"] {
    width: 40px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
    background-position: 40px 0;
    background-repeat: no-repeat;
}

i.season-level-1 {
    background-position: 0 0
}

i.season-level-2 {
    background-position: 0 -40px
}

i.season-level-3 {
    background-position: 0 -80px
}

i.season-level-4 {
    background-position: 0 -120px
}

i.season-level-5 {
    background-position: 0 -160px
}

i.season-level-6 {
    background-position: -40px 0
}

i.season-level-7 {
    background-position: -40px -40px
}

i.season-level-8 {
    background-position: -40px -80px
}

i.season-level-9 {
    background-position: -40px -120px
}

i.season-level-10 {
    background-position: -40px -160px
}

i.season-level-11 {
    background-position: -80px 0
}

i.season-level-12 {
    background-position: -80px -40px
}

i.season-level-13 {
    background-position: -80px -80px
}

i.season-level-14 {
    background-position: -80px -120px
}

i.season-level-15 {
    background-position: -80px -160px
}

i.season-level-16 {
    background-position: -120px 0
}

i.season-level-17 {
    background-position: -120px -40px
}

i.season-level-18 {
    background-position: -120px -80px
}

i.season-level-19 {
    background-position: -120px -120px
}

i.season-level-20 {
    background-position: -120px -160px
}

i.season-level-21 {
    background-position: -160px 0
}

i.season-level-22 {
    background-position: -160px -80px
}

i.season-level-23 {
    background-position: -160px -80px
}

i.season-level-24 {
    background-position: -160px -120px
}

i.season-level-25 {
    background-position: -160px -160px
}

i.season-extra-donkey {
    background-position: -200px 0
}

i.season-extra-donkey-new {
    background-position: -200px -40px
}

i.season-extra-doughnut {
    background-position: -200px -120px
}

i.season-extra-unlimited-fuel {
    background-position: -200px -80px
}

i.season-extra-track {
    background-position: -200px -160px
}

i.season-extra-coins-gems {
    background-position: -240px 0
}

i.season-extra-custom-1 {
    background-position: -240px -40px
}

i.season-extra-custom-2 {
    background-position: -240px -80px
}

i.season-extra-custom-3 {
    background-position: -240px -120px
}

i[class^="season-extra-part-"] {
    width: 40px;
    height: 40px;
    display: inline-block;
    background-size: 200px 400px !important;
}

i.season-extra-part-chain-1 {
    background-position: 0 0
}

i.season-extra-part-chain-2 {
    background-position: -40px 0
}

i.season-extra-part-chain-3 {
    background-position: -80px 0
}

i.season-extra-part-chain-4 {
    background-position: -120px 0
}

i.season-extra-part-chain-5 {
    background-position: -160px 0
}

i.season-extra-part-spring-1 {
    background-position: 0 -40px
}

i.season-extra-part-spring-2 {
    background-position: -40px -40px
}

i.season-extra-part-spring-3 {
    background-position: -80px -40px
}

i.season-extra-part-spring-4 {
    background-position: -120px -40px
}

i.season-extra-part-spring-5 {
    background-position: -160px -40px
}

i.season-extra-part-bolt-1 {
    background-position: 0 -80px
}

i.season-extra-part-bolt-2 {
    background-position: -40px -80px
}

i.season-extra-part-bolt-3 {
    background-position: -80px -80px
}

i.season-extra-part-bolt-4 {
    background-position: -120px -80px
}

i.season-extra-part-bolt-5 {
    background-position: -160px -80px
}

i.season-extra-part-nut-1 {
    background-position: 0 -120px
}

i.season-extra-part-nut-2 {
    background-position: -40px -120px
}

i.season-extra-part-nut-3 {
    background-position: -80px -120px
}

i.season-extra-part-nut-4 {
    background-position: -120px -120px
}

i.season-extra-part-nut-5 {
    background-position: -160px -120px
}

i.season-extra-part-sheet-1 {
    background-position: 0 -160px
}

i.season-extra-part-sheet-2 {
    background-position: -40px -160px
}

i.season-extra-part-sheet-3 {
    background-position: -80px -160px
}

i.season-extra-part-sheet-4 {
    background-position: -120px -160px
}

i.season-extra-part-sheet-5 {
    background-position: -160px -160px
}

i.season-extra-part-spark-1 {
    background-position: 0 -200px
}

i.season-extra-part-spark-2 {
    background-position: -40px -200px
}

i.season-extra-part-spark-3 {
    background-position: -80px -200px
}

i.season-extra-part-spark-4 {
    background-position: -120px -200px
}

i.season-extra-part-spark-5 {
    background-position: -160px -200px
}

i.season-extra-part-pipe-1 {
    background-position: 0 -240px
}

i.season-extra-part-pipe-2 {
    background-position: -40px -240px
}

i.season-extra-part-pipe-3 {
    background-position: -80px -240px
}

i.season-extra-part-pipe-4 {
    background-position: -120px -240px
}

i.season-extra-part-pipe-5 {
    background-position: -160px -240px
}

i.season-extra-part-bearing-1 {
    background-position: 0 -280px
}

i.season-extra-part-bearing-2 {
    background-position: -40px -280px
}

i.season-extra-part-bearing-3 {
    background-position: -80px -280px
}

i.season-extra-part-bearing-4 {
    background-position: -120px -280px
}

i.season-extra-part-bearing-5 {
    background-position: -160px -280px
}

i.season-extra-part-piston-1 {
    background-position: 0 -320px
}

i.season-extra-part-piston-2 {
    background-position: -40px -320px
}

i.season-extra-part-piston-3 {
    background-position: -80px -320px
}

i.season-extra-part-piston-4 {
    background-position: -120px -320px
}

i.season-extra-part-piston-5 {
    background-position: -160px -320px
}

i.season-extra-part-gear-1 {
    background-position: 0 -360px
}

i.season-extra-part-gear-2 {
    background-position: -40px -360px
}

i.season-extra-part-gear-3 {
    background-position: -80px -360px
}

i.season-extra-part-gear-4 {
    background-position: -120px -360px
}

i.season-extra-part-gear-5 {
    background-position: -160px -360px
}