
[discover-map] {
  opacity: 0;

  &.all-loaded.show-discovery {
    opacity: 1;
  }
}

.trackmap {
  position: relative;

  &__wrapper {
    position: relative;
  }

  &__discover-close {
    position: fixed;
    z-index: 1;
    right: 50px;
    top: 30px;
    font-size: 50px;
    cursor: pointer;
    color: @color-tan;
  }

  &--cloud {
    visibility: visible;
    position: relative;
  }

  &--discovered {
    position: absolute;
    left: 0;
    top: 0;
  }
}