<meta http-equiv="Access-Control-Allow-Origin" content="*">
<title page-title="{{#block "title-override"}}{{/block}}">{{#block "title"}}Trials Frontier Trackmap{{/block}}</title>
<link rel="icon" href="{{#helperNotExist "withRootPathes"}}../{{/helperNotExist}}favicon.ico" type="image/x-icon"/>

{{#block "styles"}}
    <link rel="stylesheet" type="text/css" href="{{#helperNotExist "withRootPathes"}}../{{/helperNotExist}}css/style-icons.css{{cacheBuster}}"/>
    <link rel="stylesheet" type="text/css" href="{{#helperNotExist "withRootPathes"}}../{{/helperNotExist}}css/style-common.css{{cacheBuster}}"/>
    <style preload-images data-event="{{#block "data-event"}}{{/block}}"></style>
{{/block}}

<script type="text/javascript" src="{{#helperExist "withRootPathes"}}dist/{{/helperExist}}vendor.min.js{{cacheBuster}}"></script>
<script type="text/javascript" src="{{#helperExist "withRootPathes"}}dist/{{/helperExist}}map.min.js{{cacheBuster}}"></script>
