<meta http-equiv="Access-Control-Allow-Origin" content="*">
<title page-title="{{#block "title-override"}}{{/block}}">{{#block "title"}}Trials Frontier Trackmap{{/block}}</title>
<link rel="icon" href="../favicon.ico" type="image/x-icon"/>

{{#block "styles"}}
    <link rel="stylesheet" type="text/css" href="../css/style-icons.css"/>
    <link rel="stylesheet" type="text/css" href="../css/style-common.css"/>
    <style preload-images></style>
{{/block}}

<script type="text/javascript" src="vendor.min.js"></script>
<script type="text/javascript" src="map.min.js"></script>
