<div class="box" style="z-index: 10; position: relative;">
    <a href="/" class="classic-link">< {%'seasons.back'|translate%}</a>
    {{#if title}} | {{{title}}}{{/if}}
    {{#if badge}} ({{badge}}){{/if}}
</div>