<!DOCTYPE html>
<html lang="en" ng-app="trialsTrackmap">
<head>
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <title page-title></title>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="css/style-seasons.css" />
    <link rel="stylesheet" type="text/css" href="css/icons.css" />
    <script type="text/javascript" src="dist/vendor.min.js"></script>
    <script type="text/javascript" src="dist/map.min.js"></script>
    <style preload-images></style>
</head>
<body class="en" ng-controller="seasons">

    <div class="box">
        <a href="/index.html" class="classic-link">< {{'seasons.back'|translate}}</a>
        |
        <span language-select></span>
        |
        {{'seasons.amount'|translate}} {{filteredArray.length}}
    </div>

    <div class="seasons-list">
        <div class="box season-container" ng-repeat="season in filteredArray" season-list-ready>
            <img class="season-banner" ng-src="{{season.header|imageHoster:data.imagehoster}}" />

            <hr />

            <div class="season-times">
                <strong>#{{season.id|leadingZero:2}}</strong>

                <span>{{'seasons.date'|translate}}: {{season.date|truncateYearOnActive:season.active}}</span> <br />
                <span>{{(season.active?'seasons.date_ends':'seasons.date_end')|translate}}: {{season.date_end|truncateYearOnActive:season.active}}</span>

                <span ng-if="season.active" countdown="season"></span>
            </div>

            <hr />

            <div ng-if="season.donkey">
                <h2>{{'seasons.donkey_state'|translate}}</h2>
                <a href="{{::season.donkey|imageHoster:data.imagehoster}}" target="_blank">
                    <img class="season-bike-state" ng-src="{{::season.donkey|imageHoster:data.imagehoster}}" />
                </a>
            </div>

            <h2>{{'seasons.prices'|translate}}</h2>

            <div class="season-prizes" stop-scroll>
                <table>
                    <tr ng-repeat="level in season.prizes">
                        <td>
                            <i class="season-level-{{::level.level}} seasons"></i>
                        </td>
                        <td title="{{::level.title}}">
                            <i ng-if="level.extra" class="season-extra-{{::level.css_selector}} {{::level.sprite}}"></i>
                        </td>
                        <td class="right">
                            + {{::level.coins}} <i class="coins"></i><br />
                            + {{::level.gems}} <i class="gems"></i>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="season-summary">
                + {{season.summary.coins}} <i class="coins"></i><br />
                + {{season.summary.gems}} <i class="gems"></i><br />
                <div ng-repeat="extra in season.summary.extras" title="{{extra.title}}">
                    +
                    <span ng-if="extra.amount > 1">{{::extra.amount}} x</span>
                    <i class="season-extra-{{::extra.css_selector}} {{::extra.sprite}}"></i>
                </div>
            </div>

            <h2 ng-if="season.top20">{{'seasons.top20_legends'|translate}}</h2>

        </div>
    </div>
</body>
</html>