<!DOCTYPE html>
<html lang="en" ng-app="trialsTrackmap" ng-controller="trackmap">
<head>
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <title page-title></title>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="css/style-table.css" />
    <link rel="stylesheet" type="text/css" href="css/icons.css" />
    <script type="text/javascript" src="dist/vendor.min.js"></script>
    <script type="text/javascript" src="dist/map.min.js"></script>
    <style map-colors></style>
    <style preload-images></style>
</head>
<body class="en" ng-controller="trackTimesEdit">
    <div class="box">
        <a href="/index.html" class="classic-link">< {{'page.timesTable.back'|translate}}</a>
        |
        <span language-select></span>
        |
        <input type="text" placeholder="{{'page.rightSidebar.searchForTrack'|translate}}" ng-model="search" ng-change="saveSearch()" />
        <!--|
        0:00.000 {{'page.timesTable.at'|translate}}
        <label>
            <input type="checkbox" ng-click="toggleShowZero($event)" ng-checked="isChecked('zero')" > {{'page.timesTable.allTracks'|translate}}
        </label>
        <label class="silver">
            <input type="checkbox" ng-click="setMedal($event,'silver')" ng-checked="isChecked('silver')"> {{'page.timesTable.silver'|translate}}
        </label>
        <label class="gold">
            <input type="checkbox" ng-click="setMedal($event,'gold')" ng-checked="isChecked('gold')"> {{'page.timesTable.gold'|translate}}
        </label>
        <label class="platinum">
            <input type="checkbox" ng-click="setMedal($event,'platinum')" ng-checked="isChecked('platinum')"> {{'page.timesTable.platinum'|translate}}
        </label>-->
        |
        <select ng-model="selectedCat" ng-change="setCat()">
            <option value="" selected>{{'page.timesTable.parts.all'|translate}}</option>
            <option ng-repeat="cat in data.map.cats" class="{{::cat.class}}-bg" value="{{cat.index}}" ng-selected="selectedCat == cat.index">{{'cats.'+cat.index|translate}} ({{::(data.tracks|catTracks:$index+1).length}})</option>
        </select>
        |
        {{'page.timesTable.parts.head'|translate}}:
        <select ng-model="selectedPart" ng-change="setParts()">
            <option value="" selected>{{'page.timesTable.parts.all'|translate}}</option>
            <option value="1">{{'parts.1'|translate}}</option>
            <option value="2">{{'parts.2'|translate}}</option>
            <option value="3">{{'parts.3'|translate}}</option>
            <option value="4">{{'parts.4'|translate}}</option>
            <option value="5">{{'parts.5'|translate}}</option>
            <option value="6">{{'parts.6'|translate}}</option>
            <option value="7">{{'parts.7'|translate}}</option>
            <option value="8">{{'parts.8'|translate}}</option>
            <option value="9">{{'parts.9'|translate}}</option>
            <option value="10">{{'parts.10'|translate}}</option>
        </select>
        <select ng-model="selectedPartLevel" ng-change="setParts(true)">
            <option value="" selected>{{'page.timesTable.parts.allLevels'|translate}}</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
        </select>
        |
        {{'page.timesTable.tracksAmount'|translate}} {{filteredArray.length}}
    </div>
    <div class="box ng-hide">
        publicChanges: {{publicChanges}} ( marked with * ) |
        unsavedChanges: {{editTimes.unsavedChanges()}}
            <span ng-if="editTimes.unsavedChanges() > 0">
                <button ng-click="editTimes.saveChanges()">save</button>
            </span>
    </div>

    <div class="box no-pad" sticky-thead>
        <table class="w100">
            <thead>
                <tr>
                    <!--<th rowspan="2" width="30">{{'page.timesTable.id'|translate}}</th>-->
                    <th rowspan="2" width="5"></th>
                    <th rowspan="2" width="200">{{'page.timesTable.trackName'|translate}}</th>
                    <th colspan="2" title="{{'page.timesTable.silver'|translate}}"><i class="medal-silver"></i></th>
                    <th colspan="2" title="{{'page.timesTable.gold'|translate}}"><i class="medal-gold"></i></th>
                    <th colspan="2" title="{{'page.timesTable.platinum'|translate}}"><i class="medal-platinum"></i></th>
                    <th rowspan="2" width="25" title="{{'page.timesTable.fuel'|translate}}"><i class="fuel"></i></th>
                    <th rowspan="2" width="25" title="{{'page.timesTable.gems'|translate}}"><i class="gems"></i></th>
                    <th rowspan="2" width="50" title="{{'page.timesTable.chips'|translate}}"><i class="chips"></i></th>
                    <th rowspan="2" width="135" title="{{'page.timesTable.parts.head'|translate}}"><i class="parts"></i></th>
                </tr>
                <tr>
                    <th title="{{'page.timesTable.time'|translate}}"><i class="timer"></i></th>
                    <th title="{{'page.timesTable.faults'|translate}}"><i class="faults"></i></th>
                    <th title="{{'page.timesTable.time'|translate}}"><i class="timer"></i></th>
                    <th title="{{'page.timesTable.faults'|translate}}"><i class="faults"></i></th>
                    <th title="{{'page.timesTable.time'|translate}}"><i class="timer"></i></th>
                    <th title="{{'page.timesTable.faults'|translate}}"><i class="faults"></i></th>
                </tr>
            </thead>
            <tbody>
            <!-- showZero:showZero:medal| -->
            <tr ng-repeat="track in filteredArray = (data.tracks|showCat:selectedCat|filter:search|showParts:selectedPart:selectedPartLevel)">
                <!--<td>
                    {{track.id}}
                </td>-->
                <td cats-as-class="{track:track,cats:data.map.cats}" class="not-hover"></td>
                <td ng-class="{'public-change':track.timesDB.public}">
                    {{track.i18n}}
                </td>
                <td class="center" xedit-time="silver" ng-bind-html="track.times.s.t|hightlightTime"></td>
                <td class="center" xedit-faults="silver">{{track.times.s.f}}</td>
                <td class="center" xedit-time="gold" ng-bind-html="track.times.g.t|hightlightTime"></td>
                <td class="center" xedit-faults="gold">{{track.times.g.f}}</td>
                <td class="center" xedit-time="platinum" ng-bind-html="track.times.p.t|hightlightTime"></td>
                <td class="center" xedit-faults="platinum">{{track.times.p.f}}</td>
                <td class="center">{{track.fuel}}</td>
                <td class="center">{{track.gems}}</td>
                <td class="center">{{track.chips}}</td>
                <td class="center no-pad">
                    <div part-list="track" part-scale="1.5" index="{{$index}}"></div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>