<!DOCTYPE html>
<html lang="en" ng-app="trialsTrackmap">
<head>
    {{#block "head"}}
        {{> head }}
    {{/block}}
</head>
<body {{#block "ctrl"}}{{/block}}>
    {{#block "body"}}
        <!-- empty content -->
    {{/block}}
</body>
</html>