<div class="costum__editor" home-shack-editor>
    <h2>Costum Editor</h2>
    {{> editor-select type="head" title="Head" costums=all selected=costums.dutscher.head}}
    {{> editor-select type="body" title="Body" costums=all selected=costums.dutscher.body}}
    {{> editor-select type="pants" title="Pants" costums=all selected=costums.dutscher.pants}}
</div>