<div class="costum__editor" home-shack-editor>
    <h2>Costum Editor</h2>
    {{> editor-select type="head" title="Head" costums=all selected=costums.dutscher.head}}
    {{> editor-select type="body" title="Body" costums=all selected=costums.dutscher.body}}
    {{> editor-select type="pant" title="Pant" costums=all selected=costums.dutscher.pant}}
</div>