<div class="box is-sticky" keep-in-viewport>
    <a href="/" class="classic-link">< {%'seasons.back'|translate%}</a>
    |
    {{> language-select}}
    |
    {%'seasons.amount'|translate%} {{_seasons.length}}
    |
    {%'seasons.stats'|translate%}: <a href="http://trials.bonxy.net/the-bunker/" target="_blank" class="classic-link">http://trials.bonxy.net/the-bunker/</a>
</div>