<div class="box make-sticky">
    <a href="/" class="classic-link">< {%'page.timesTable.back'|translate%}</a>
    <!--|-->
    <!--<a href="/table-improve.html" class="classic-link" target="_blank">{%'page.leftSidebar.goToImprove'|translate%}</a>-->
    |
    {%'page.worldRecordsTable.ridersAmount'|translate%}: {% allRider %}
    / last update: {% lastUpdate|localeDate %}
    <br />
    {{!
    {%'page.worldRecordsTable.filter'|translate%}:
    <input type="text" placeholder="{%'page.worldRecordsTable.searchForRider'|translate%}"
           select-on-click
           ng-model="search"
           ng-model-options="{debounce:100}"
           ng-change="saveSearch()" />
    <i class="faults with-cursor" ng-if="search != ''" ng-click="clearSearch()"></i>
    |
    }}
</div>