<div class="box make-sticky">
    <a href="/" class="classic-link">< {%'page.timesTable.back'|translate%}</a>
    <!--|-->
    <!--<a href="/table-improve.html" class="classic-link" target="_blank">{%'page.leftSidebar.goToImprove'|translate%}</a>-->
    |
    <i class="global"></i>
    <a href="javascript:void(0)" class="classic-link" ng-if="activeView === 'separated'" ng-click="toggleView()">Show combined View</a>
    <a href="javascript:void(0)" class="classic-link" ng-if="activeView === 'combined'" ng-click="toggleView()">Show separated View</a>
    | {%'page.worldRecordsTable.ridersAmount'|translate%}: {% allRiderCount %}

    | last update: {% lastUpdate|localeDate %}
    <!--|-->
    <!--{%'page.worldRecordsTable.filter'|translate%}:-->
    <!--<input type="text" placeholder="{%'page.worldRecordsTable.searchForRider'|translate%}"-->
           <!--select-on-click-->
           <!--ng-model="search"-->
           <!--ng-model-options="{debounce:100}"-->
           <!--ng-change="saveSearch()" />-->
    <!--<i class="faults with-cursor" ng-if="search != ''" ng-click="clearSearch()"></i>-->
</div>