<div class="box make-sticky">
    <div>
        <a href="/index" class="classic-link">< {%'page.timesTable.back'|translate%}</a>
        |
        <a href="/wr-rider-temple.html" class="classic-link" target="_blank">{%'page.leftSidebar.goToWRRiderTemple'|translate%}</a>
        |
        {{> language-select}}
    </div>
    <div>
        <span ng-if="profileName">
            {%profileName%}
            |
        </span>
        <span ng-if="profileRank">
            {%'page.timesTable.profileRank'|translate%}: {%profileRank%}
            |
        </span>
        {%'page.timesTable.tracksAmount'|translate%}: {%filteredArray.length%}
    </div>
    <div>
        {%'page.timesTable.filter'|translate%}:
        <input type="text" placeholder="{%'page.rightSidebar.searchForTrack'|translate%}"
               select-on-click
               ng-model="search"
               ng-model-options="{debounce:100}"
               ng-change="saveSearch()"/>
        <i class="faults with-cursor" ng-if="search != ''" ng-click="clearSearch()"></i>

        <span class="flyout__item__label">
            {%'page.timesTable.categories'|translate%}:
        </span>
        <select ng-model="selectedCat" ng-change="setCat()">
            <option value="" selected>{%'page.timesTable.parts.all'|translate%}</option>
            <option ng-repeat="cat in categories" class="{%::cat.class%}-bg"
                    ng-selected="selectedCat == cat.index"
                    value="{%::cat.index%}">
                {%'cats.'+cat.index|translate|translateCat%}
                ({%trackSum = (data.tracks|catAndTierTracks:cat.index:selectedTier).length%})
            </option>
        </select>

        <div class="flyout">
            <div class="flyout__prompt"><i class="filter"></i></div>
            <div class="flyout__wrap">
                <div class="flyout__header">{%'page.timesTable.settingsHeader'|translate%}</div>
                {{#xif "this.activateMode"}}
                    <div class="flyout__item">
                        <span class="flyout__item__label">
                            {%'page.timesTable.improve.myGoalCheckbox'|translate%}:
                        </span>
                        <input type="checkbox" ng-model="showMyGoal" ng-change="saveMyGoal()"/>
                    </div>
                    <div class="flyout__item">
                        <span class="flyout__item__label">
                            {%'page.timesTable.improve.ultimateCheckbox'|translate%}:
                        </span>
                        <input type="checkbox" ng-model="showUltimate" ng-change="saveUltimateCheckbox()"/>
                    </div>
                    <div class="flyout__item">
                        <span class="flyout__item__label">
                            {%'page.timesTable.device'|translate%}:
                        </span>
                        <select ng-model="selectedMode" ng-change="setMode()">
                            <option value="android" selected>Android</option>
                            <option value="ios">iOS</option>
                        </select>
                    </div>
                    <div class="flyout__item">
                        <span class="flyout__item__label">
                            {%'page.timesTable.bikeType'|translate%}:
                        </span>
                        <select ng-model="selectedBike" ng-change="setBikeType()">
                            <option value="normal" selected>Normal</option>
                            <option value="donkey">Donkey</option>
                            <option value="crazy">Crazy</option>
                        </select>
                    </div>
                    <div class="flyout__item">
                        <span class="flyout__item__label">
                            {%'page.timesTable.bikeModel'|translate%}:
                        </span>
                        <select ng-model="selectedBikeModel" ng-change="setBikeModel()">
                            <option value="" selected>{%'page.timesTable.allBikeModels'|translate%}</option>
                            <option ng-repeat="(bikeId, bike) in data.bikes"
                                    ng-selected="selectedBikeModel == bikeId"
                                    value="{%::bikeId%}">
                                {%::bike.name%}
                            </option>
                        </select>
                    </div>
                {{/xif}}
                <div class="flyout__item">
                    <span class="flyout__item__label">
                        {%'page.timesTable.tier'|translate%}:
                    </span>
                    <select ng-model="selectedTier" ng-change="setTier()">
                        <option value="" selected>{%'page.timesTable.allTiers'|translate%}</option>
                        <option value="1">{%'tiers.1'|translate%}</option>
                        <option value="2">{%'tiers.2'|translate%}</option>
                        <option value="3">{%'tiers.3'|translate%}</option>
                    </select>
                </div>
                {{#xif "!this.deactivateParts"}}
                    <div class="flyout__item">
                        <span class="flyout__item__label">
                            {%'page.timesTable.parts.head'|translate%}:
                        </span>
                        <select ng-model="selectedPart" ng-change="setParts()">
                            <option value="" selected>{%'page.timesTable.parts.all'|translate%}</option>
                            <option value="1">{%'parts.1'|translate%}</option>
                            <option value="2">{%'parts.2'|translate%}</option>
                            <option value="3">{%'parts.3'|translate%}</option>
                            <option value="4">{%'parts.4'|translate%}</option>
                            <option value="5">{%'parts.5'|translate%}</option>
                            <option value="6">{%'parts.6'|translate%}</option>
                            <option value="7">{%'parts.7'|translate%}</option>
                            <option value="8">{%'parts.8'|translate%}</option>
                            <option value="9">{%'parts.9'|translate%}</option>
                            <option value="10">{%'parts.10'|translate%}</option>
                        </select>
                    </div>
                    <div class="flyout__item">
                        <span class="flyout__item__label">
                        </span>
                        <select ng-model="selectedPartLevel" ng-change="setParts(true)">
                            <option value="" selected>{%'page.timesTable.parts.allLevels'|translate%}</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                {{/xif}}
                {{#xif "this.withMinInputs"}}
                    <div class="flyout__item">
                        <span class="flyout__item__label">
                            {%'page.timesTable.improve.minRank'|translate%}:
                        </span>
                        <input type="text" class="input-s"
                               placeholder="{%'page.timesTable.improve.minRankPlaceholder'|translate%}"
                               select-on-click
                               ng-model="minRank"
                               ng-model-options="{debounce:100}"
                               ng-change="clearMinRank()"/>
                    </div>
                    <div class="flyout__item">
                        <span class="flyout__item__label">
                            {%'page.timesTable.improve.minDifference'|translate%}:
                        </span>
                        <input type="text" class="input-s"
                               placeholder="{%'page.timesTable.improve.minDifferencePlaceholder'|translate%}"
                               select-on-click
                               ng-model="minDiff"
                               ng-model-options="{debounce:100}"
                               ng-change="clearMinDiff()"/>
                    </div>
                {{/xif}}
            </div>
        </div>
        {{#xif "this.withImproveImportExport"}}
            {%'page.timesTable.importExport'|translate%}:
            <div class="flyout">
                <div class="flyout__prompt"><i class="import-export"></i></div>
                <div class="flyout__wrap">
                    <div class="flyout__header">{%'page.timesTable.importExportHeader'|translate%}</div>
                    <div class="flyout__item">
                    <span class="flyout__item__label">
                        {%'page.timesTable.tflforoImport'|translate%}:
                    </span>
                        <span tflforo-import></span>
                    </div>
                    <div class="flyout__item">
                    <span class="flyout__item__label">
                        {%'page.timesTable.myJsonImportExport'|translate%}:
                    </span>
                        <span improve-import></span>
                        <span improve-export></span>
                    </div>
                    <div class="flyout__item">
                    <span class="flyout__item__label">
                        {%'page.timesTable.improve.print'|translate%}:
                    </span>
                        <a href="table-improve-print.html" target="blank" class="button">{%'page.timesTable.improve.printFilled'|translate%}</a>
                        <a href="table-improve-print.html#empty=true" target="blank" class="button">{%'page.timesTable.improve.printEmpty'|translate%}</a>
                    </div>
                </div>
            </div>
        {{/xif}}
    </div>
</div>