<div class="box make-sticky">
    <a href="/" class="classic-link">< {%'page.timesTable.back'|translate%}</a>
    <!--|-->
    <!--<a href="/table-improve.html" class="classic-link" target="_blank">{%'page.leftSidebar.goToImprove'|translate%}</a>-->
    | <a href="javascript:void(0)" class="classic-link" ng-class="{'active': activeView === 'combined'}" ng-click="toggleView('combined')">Platforms combined</a>
    | <a href="javascript:void(0)" class="classic-link" ng-class="{'active': activeView === 'separated'}" ng-click="toggleView('separated')">Platform seperated</a>
    | <a href="javascript:void(0)" class="classic-link" ng-class="{'active': activeView === 'tracks'}" ng-click="toggleView('tracks')">Tracks View</a>
    |
    <select ng-model="selectedLeaderboardWorld" ng-change="changeLeaderboardWorld()">
        <option value="0" ng-selected="selectedLeaderboardWorld == 0">Both Worlds</option>
        <option value="1" ng-selected="selectedLeaderboardWorld == 1">Seymore & Lotz</option>
        <option value="2" ng-selected="selectedLeaderboardWorld == 2">Petrol Falls</option>
    </select>
    | {%'page.worldRecordsTable.ridersAmount'|translate%}: {% allRiderCount %}
    | {%'Tracks'|translate%}: {% allTrackCount %}
    | last update: {% lastUpdate|localeDate %}
    <!--|-->
    <!--{%'page.worldRecordsTable.filter'|translate%}:-->
    <!--<input type="text" placeholder="{%'page.worldRecordsTable.searchForRider'|translate%}"-->
           <!--select-on-click-->
           <!--ng-model="search"-->
           <!--ng-model-options="{debounce:100}"-->
           <!--ng-change="saveSearch()" />-->
    <!--<i class="faults with-cursor" ng-if="search != ''" ng-click="clearSearch()"></i>-->
</div>