body {
  margin: 0;
  font-size: 0;
  font-family: Verdana;
}

html, body {
  height: 100%;
}

.with-box-shadow {
  box-shadow: -0px 10px 10px rgba(0, 0, 0, 0.25);
}

.gradient-border {
  position: relative;
  border-width: 2px;
  border-style: solid;
  border-top: 2px solid #d2c3ab;
  border-bottom: 2px solid #6a4229;
  border-image: linear-gradient(to top, #6a4229, #d2c3ab) 1 10%;
}

.centerized {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: #3a281d;
}

.trackfinder {
  position: relative;
  display: flex;

  .trackpainter {
    position: relative;

    &__name {
      font-size: 30px;
      color: #fff;
      text-shadow: 1px 1px #000;
      position: absolute;
      left: 8px;
      top: 8px;
    }

    &__pointer {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }

    &__message {
      font-size: 40px;
      color: #fff;
      text-shadow: 1px 1px #000;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      z-index: 1;
      background: radial-gradient(circle, transparent -70%, black 100%), transparent;
    }
  }

  .trackfilter {
    position: absolute;
    bottom: -28px;
    left: 0;
    right: 0;
    text-align: center;

    &__search {
      height: 20px;
      border: #6B432A solid 2px;
      padding: 2px 5px;
    }
  }
}