<html>
<head>
    <title>support dutscher to win a moto g7!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: Verdana;
            font-size: 16px;
        }

        .yo {
            display: flex;
            flex-direction: column;
        }

        .noo {
            padding-top: 32px;
            margin-top: 32px;
            border-top: solid 1px #ccc;
            position: relative;
        }
        .noo::before {
            display: block;
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
        }
    </style>
</head>
<body>
<div class="yo">
    <h1>press the like button here:</h1>

    <iframe src="https://www.facebook.com/plugins/comment_embed.php?href=https%3A%2F%2Fwww.facebook.com%2FMotoInGER%2Fposts%2F2064552086969926%3Fcomment_id%3D2064871046938030&include_parent=false" width="560" height="121" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>

    <a href="https://www.facebook.com/MotoInGER/posts/2064552086969926?comment_id=2064871046938030" target="_blank">Direct link to the comment on fb for iOS</a>

    <h2>campaign expires in <span id="time"></span></h2>

    <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FMotoInGER%2Fposts%2F2064552086969926&width=500" width="500" height="150" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>

</div>

<div class="noo yo">
    <h3>here are the competitor comments, not clickable ;)</h3>

    <iframe src="https://www.facebook.com/plugins/comment_embed.php?href=https%3A%2F%2Fwww.facebook.com%2FMotoInGER%2Fposts%2F2064552086969926%3Fcomment_id%3D2065655340192934&include_parent=false" width="560" height="161" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
    <iframe src="https://www.facebook.com/plugins/comment_embed.php?href=https%3A%2F%2Fwww.facebook.com%2FMotoInGER%2Fposts%2F2064552086969926%3Fcomment_id%3D2064974143594387&include_parent=false" width="560" height="201" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
    <iframe src="https://www.facebook.com/plugins/comment_embed.php?href=https%3A%2F%2Fwww.facebook.com%2FMotoInGER%2Fposts%2F2064552086969926%3Fcomment_id%3D2066136086811526&include_parent=false" width="560" height="260" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
    <iframe src="https://www.facebook.com/plugins/comment_embed.php?href=https%3A%2F%2Fwww.facebook.com%2FMotoInGER%2Fposts%2F2064552086969926%3Fcomment_id%3D2064845403607261&include_parent=false" width="560" height="121" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
    <iframe src="https://www.facebook.com/plugins/comment_embed.php?href=https%3A%2F%2Fwww.facebook.com%2FMotoInGER%2Fposts%2F2064552086969926%3Fcomment_id%3D2064883963603405&include_parent=false" width="560" height="121" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>

</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="http://rendro.github.io/countdown/javascripts/jquery.countdown.js"></script>

<script type="text/javascript">
    $(function() {
        $('#time').countdown({
            date: new Date((1550692800 + 216000) * 1000)
        });
    });
</script>
</body>
</html>