<div class="trackmap__wrapper">
<img class="trackmap trackmap--cloud" src="https://i.imgur.com/7vvZ43t.jpg" />
<svg class="trackmap trackmap--discovered" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="2560" height="2560">
    <defs>
        <filter id="filter">
            <feGaussianBlur stdDeviation="5"/>
        </filter>
        <mask id="mask">
            <ellipse cx="231" cy="1018" rx="100" ry="100" fill="white" filter="url(#filter)"></ellipse>
            <ellipse cx="407" cy="1106" rx="100" ry="100" fill="white" filter="url(#filter)"></ellipse>
            <ellipse cx="480" cy="1233" rx="100" ry="100" fill="white" filter="url(#filter)"></ellipse>
            <ellipse cx="356" cy="1347" rx="100" ry="100" fill="white" filter="url(#filter)"></ellipse>
        </mask>
    </defs>

    <image xlink:href="http://i.imgur.com/9hqP9zO.jpg" width="2560" height="2560" mask="url(#mask)"></image>
</svg>
</div>
<style>
    .trackmap__wrapper {
        position: relative;
    }
    .trackmap {
        width: 2560px;
        height: 2560px;
        position: relative;
    }
    .trackmap--cloud {
        filter: hue-rotate(-891deg) sepia(89) saturate(2) brightness(30%);
    }
    .trackmap--discovered {
        position: absolute;
        left: 0;
        top: 0;
    }
</style>
