{{#extend "default"}}
    {{#content "styles" mode="append"}}
        <link rel="stylesheet" type="text/css" href="/dist/main.css{{cacheBuster}}"/>
    {{/content}}

    {{#content "preload-images"}}data:loaded{{/content}}

    {{#content "body"}}
        <div class="page-body" ng-controller="home-shack">
            {{> navigation title="Home Shack" badge=wardrobe.homeshack.length}}

            <div class="costum__area">
                {{homeShack data=wardrobe}}

                <hr />

                {{> costum wardrobe.costums.dutscher home-shack-editor-preview=true}}
                {{> costum-editor wardrobe}}
            </div>
        </div>
    {{/content}}
{{/extend}}