{{#extend "default"}}
    {{#content "styles" mode="append"}}
        <link rel="stylesheet" type="text/css" href="/dist/main.css{{cacheBuster}}"/>
    {{/content}}

    {{#content "preload-images"}}data:loaded{{/content}}

    {{#content "body"}}
        <div class="page-body" ng-controller="home-shack">
            {{> navigation title="Home Shack" badge=wardrobe.homeshack.length}}

            <div class="costum__area">
                {{homeShack data=wardrobe}}

                <hr />

                {{> costum wardrobe.costums.dutscher home-shack-editor-preview=true}}

                <div class="costum__editor" home-shack-editor>
                    <h2>Costum Editor</h2>
                    {{> editor-select type="head" title="Head" costums=wardrobe.all selected=wardrobe.costums.dutscher.head}}
                    {{> editor-select type="body" title="Body" costums=wardrobe.all selected=wardrobe.costums.dutscher.body}}
                    {{> editor-select type="pant" title="Pant" costums=wardrobe.all selected=wardrobe.costums.dutscher.pant}}
                </div>
            </div>
        </div>
    {{/content}}
{{/extend}}