{{#extend "default"}}
    {{#content "styles" mode="append"}}
        <link rel="stylesheet" type="text/css" href="/dist/main.css{{cacheBuster}}"/>
    {{/content}}

    {{#content "preload-images"}}data:loaded{{/content}}

    {{#content "body"}}
        <div class="page-body" ng-controller="home-shack">
            {{setVariable "combinations" (mathPow wardrobe.homeshack.length 3)}}
            {{> navigation title="Home Shack" badge=(combine wardrobe.homeshack.length " costumes and " combinations " combinations")}}

            <div class="costum__area">
                {{prio-listHhomeShack data=wardrobe tpl="tpls/partials/homeshack/costum.hbs"}}

                <hr/>

                {{> costum wardrobe.costums.dutscher home-shack-editor-preview=true}}
                {{> costum-editor wardrobe}}
            </div>
        </div>
    {{/content}}
{{/extend}}
