{{#extend "default"}}
    jo
    {{#content "htmlCtrl"}}ng-controller="trackData" data-without="worldrecords"{{/content}}

    {{#content "styles" mode="append"}}
        <link rel="stylesheet" type="text/css" href="/dist/map.css{{cacheBuster}}"/>
    {{/content}}

    {{#content "head" mode="append"}}
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    {{/content}}

    {{#content "ctrl"}}ng-controller="trackMap"{{/content}}

    {{#content "body"}}
        <div class="only-landscape">
            <div class="wrap">
                <i class="orientation"></i> <br/>
                {%'page.onlyLandscape'|translate%}
            </div>
        </div>

        {{> left-sidebar Xng-init="handleSidebars($event,'left','wait-for-i18n')" map=map seasons=seasons wardrobe=wardrobe}}
        {{> right-sidebar ng-init="handleSidebars($event,'right','wait-for-i18n')"}}

        <div class="gallery-modal"></div>
        <div ng-init="trackmapReady = false" ng-hide="trackmapReady && dataLoaded" class="loader spin"></div>

        <div pinch-map>
            <div zoom-here>
                <canvas canvas-track-pointer></canvas>

                <img hide-me-on-pan src="blank.png" class="track-pointer" usemap="#trackmap"/>

                {{#with gfx}}
                    <img class="trackmap" world="{% selectedWorld %}" alt="{% worldAlt %}"
                         ng-src="{% worldImage %}"
                         onload="this.isLoaded = true"
                         image-loaded="trackmapReady = true"
                         ng-class="{'loading':!trackmapReady && !dataLoaded,'all-loaded':trackmapReady && dataLoaded}"/>
                {{/with}}

                <map name="trackmap" track-pointer></map>
            </div>
        </div>
    {{/content}}
{{/extend}}