{{! debug }}
{{#extend "default"}}
    {{#content "htmlCtrl"}}ng-controller="trackData"{{/content}}

    {{#content "styles" mode="append"}}
        <link rel="stylesheet" type="text/css" href="/dist/css/map.css{{cacheBuster}}"/>
    {{/content}}

    {{#content "head" mode="append"}}
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    {{/content}}

    {{#content "ctrl"}}ng-controller="trackMap"{{/content}}

    {{#content "body"}}
        <div class="only-landscape">
            <div class="wrap">
                <i class="orientation"></i> <br/>
                {%'page.onlyLandscape'|translate%}
            </div>
        </div>
        {{> top-sidebar}}
        {{> left-sidebar
                Xng-init="handleSidebars($event,'left','wait-for-i18n')"
                lastUpdateTime=lastUpdateTime
                version=version
                map=map
                seasons=seasons
                wardrobe=wardrobe
                bikes=bikes}}
        {{> right-sidebar
                Xng-init="handleSidebars($event,'right','wait-for-i18n')"}}

        <div class="gallery-modal"></div>
        <div ng-init="trackmapReady = false" ng-hide="trackmapReady && dataLoaded" class="loader spin"></div>

        <div pinch-map>
            {{!
            <div class="pinch-helper--mask-center"></div>
            <div class="pinch-helper--scroll-pos"></div>
            *}}
            <div ng-if="filteredTracks.length > 0" class="trackmap__discover-close" ng-click="resetFilter()">🞮</div>

            <div zoom-here>
                <div discover-map
                     ng-class="{'loading':!trackmapReady && !dataLoaded,'all-loaded':trackmapReady && dataLoaded}">
                </div>

                <img hide-me-on-pan src="blank.png" class="track-pointer" usemap="#trackmap"/>

                <img class="trackmap" world="{% selectedWorld %}" alt="{% worldAlt %}"
                     ng-src="{% worldImage %}"
                     onload="this.isLoaded = true"
                     image-loaded="trackmapReady = true"
                     ng-class="{'loading':!trackmapReady && !dataLoaded,'all-loaded':trackmapReady && dataLoaded}"/>

                <map name="trackmap" track-map-links></map>
            </div>
        </div>
    {{/content}}
{{/extend}}