{{#extend "default"}}
    {{#content "title" mode="prepend"}}
        Track medaltimes and informations -
    {{/content}}

    {{#content "styles" mode="prepend"}}
        <link rel="stylesheet" type="text/css" href="/css/style-table.css{{cacheBuster}}"/>
        <style map-colors></style>
    {{/content}}

    {{#content "ctrl"}}ng-controller="trackData"{{/content}}

    {{#content "body"}}
        {{#with map}}
            <div ng-controller="trackTimes">
                <div ng-init="pageReady = false" ng-hide="pageReady" class="loader spin"></div>
                <div class="page-body is-loading" data-finished="pageReady">

                    {{> table-navigation}}

                    <div class="box no-pad" sticky-thead>
                        <table class="w100">
                            <thead>
                            <tr>
                                <!--<th rowspan="2" width="30">{%'page.timesTable.id'|translate%}</th>-->
                                <th rowspan="2" width="5"></th>
                                <th rowspan="2" width="35" table-sorter="tier">{%'page.timesTable.tier'|translate%}</th>
                                <th rowspan="2" width="200">{%'page.timesTable.trackName'|translate%}</th>
                                <th colspan="2" title="{%'page.timesTable.silver'|translate%}">
                                    <i class="medal-silver"></i>
                                </th>
                                <th colspan="2" title="{%'page.timesTable.gold'|translate%}">
                                    <i class="medal-gold"></i>
                                </th>
                                <th title="{%'page.timesTable.platinum'|translate%}">
                                    <i class="medal-platinum"></i>
                                </th>
                                <th rowspan="2" width="25" title="{%'page.timesTable.fuel'|translate%}">
                                    <i class="fuel"></i>
                                </th>
                                <th rowspan="2" width="25" title="{%'page.timesTable.gems'|translate%}">
                                    <i class="gems"></i>
                                </th>
                                <th rowspan="2" width="50" title="{%'page.timesTable.chips'|translate%}">
                                    <i class="chips"></i>
                                </th>
                                <th rowspan="2" width="145" title="{%'page.timesTable.parts.head'|translate%}">
                                    <i class="parts"></i>
                                </th>
                            </tr>
                            <tr>
                                <th title="{%'page.timesTable.time'|translate%}"><i class="timer"></i></th>
                                <th title="{%'page.timesTable.faults'|translate%}"><i class="faults"></i></th>
                                <th title="{%'page.timesTable.time'|translate%}"><i class="timer"></i></th>
                                <th title="{%'page.timesTable.faults'|translate%}"><i class="faults"></i></th>
                                <th title="{%'page.timesTable.time'|translate%}"><i class="timer"></i></th>
                            </tr>
                            </thead>
                            <tbody>
                            <!-- showZero:showZero:medal| -->
                            <tr ng-repeat="track in filteredArray = (data.tracks|showCatAndTier:selectedCat:selectedTier|filter:search|showParts:selectedPart:selectedPartLevel)">
                                <!--<td>
                                    {%track.id%}
                                </td>-->
                                <td cats-as-class="{track:track}" class="not-hover"></td>
                                <td class="center">
                                    {%::track.tier%}
                                </td>
                                <td ng-class="{'public-change':track.timesDB.public}">
                                    {%track.i18n%}
                                </td>
                                <td class="center ellipsis" xedit-time="silver"
                                    ng-bind-html="track.times.silver.time|convertTime" title="{%track.times.silver.time|convertTime%}"></td>
                                <td class="center" xedit-faults="silver">{%track.times.silver.faults%}</td>
                                <td class="center ellipsis" xedit-time="gold"
                                    ng-bind-html="track.times.gold.time|convertTime" title="{%track.times.gold.time|convertTime%}"></td>
                                <td class="center" xedit-faults="gold">{%track.times.gold.faults%}</td>
                                <td class="center ellipsis" xedit-time="platinum"
                                    ng-bind-html="track.times.platinum.time|convertTime" title="{%track.times.platinum.time|convertTime%}"></td>
                                <td class="center">{%track.fuel%}</td>
                                <td class="center">{%track.gems%}</td>
                                <td class="center">{%track.chips%}</td>
                                <td class="center no-pad">
                                    <div part-list="track" part-scale="3" index="{%$index%}"></div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {{/with}}
    {{/content}}
{{/extend}}