{{#extend "default"}}
    {{#content "title-override"}}true{{/content}}
    {{#content "title" mode="prepend"}}World Records Rider Temple - {{/content}}
    {{#content "description"}}iOS and Android world records you can find here for all 300+ tracks and records made in 20+ countries.{{/content}}
    {{#content "url" mode="append"}}/wr-rider-temple.html{{/content}}

    {{#content "styles" mode="prepend"}}
        <link rel="stylesheet" type="text/css" href="/dist/css/table.css{{cacheBuster}}"/>
    {{/content}}

    {{#content "ctrl"}}ng-controller="trackData"{{/content}}
    {{#content "htmlCtrl"}}data-with="worldrecords"{{/content}}

    {{#content "body"}}
        {{#with map}}
            <div ng-controller="wrTemple">
                <div ng-init="pageReady = false" ng-hide="pageReady" class="loader spin"></div>
                <div class="page-body is-loading" data-finished="pageReady">
                    {{> table-navigation-worldrecords}}

                    <div ng-if="activeView === 'separated'" class="box no-pad flex" sticky-thead="w50">
                        {{> separated-view}}
                    </div>

                    <div ng-if="activeView === 'combined'" class="box no-pad flex">
                        {{> combined-view}}
                    </div>

                    <div ng-if="activeView === 'tracks'" class="box no-pad flex">
                        {{> tracks-view}}
                    </div>
                </div>
            </div>
        {{/with}}
    {{/content}}
{{/extend}}