{{#extend "default"}}
    {{#content "title-override"}}true{{/content}}
    {{#content "title" mode="prepend"}}
        Temple of the legends -
    {{/content}}

    {{#content "styles" mode="prepend"}}
        <link rel="stylesheet" type="text/css" href="../css/style-table.css{{cacheBuster}}" />
        <link rel="stylesheet" type="text/css" href="../css/ngDialog.css{{cacheBuster}}" />
        <link rel="stylesheet" type="text/css" href="../css/ngDialog-theme-default.css{{cacheBuster}}" />
        <style map-colors></style>
    {{/content}}

    {{#content "ctrl"}}ng-controller="trackmap"{{/content}}

    {{#content "body"}}
        {{#with map}}
            <div ng-controller="wrTemple">
                <div ng-init="pageReady = false" ng-hide="pageReady" class="loader spin"></div>
                <div class="page-body is-loading" data-finished="pageReady">

                    {{> table-navigation-worldrecords}}

                    <div class="box no-pad" sticky-thead>
                        <table class="w100">
                            <thead>
                                <tr>
                                    <th class="rider-name" width="25"></th>
                                    <th class="rider-name" width="200">
                                        <i class="device-android"></i>
                                        {%'page.worldRecordsTable.headRider'|translate%}
                                    </th>
                                    <th table-sorter="android|normal"><i class="global"></i></th>
                                    <th table-sorter="android|donkey"><i class="donkey"></i></th>
                                    <th table-sorter="android|crazy"><i class="crazy"></i></th>
                                    <th class="rider-name" width="25"></th>
                                    <th class="rider-name" width="200">
                                        <i class="device-ios"></i>
                                        {%'page.worldRecordsTable.headRider'|translate%}
                                    </th>
                                    <th table-sorter="ios|normal"><i class="global"></i></th>
                                    <th table-sorter="ios|donkey"><i class="donkey"></i></th>
                                    <th table-sorter="ios|crazy"><i class="crazy"></i></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="rider in sortedRider">
                                    <td class="center rider-name">{%::$index+1|leadingZero%}.</td>
                                    <td class="center rider-name" ng-bind-html="::rider.android.riderName|nameWithFlag" width="150"></td>
                                    <td class="center" show-amount="{%::rider.android.WRAmount.android.normal%}"></td>
                                    <td class="center" show-amount="{%::rider.android.WRAmount.android.donkey%}"></td>
                                    <td class="center" show-amount="{%::rider.android.WRAmount.android.crazy%}"></td>
                                    <td class="center rider-name">{%::$index+1|leadingZero%}.</td>
                                    <td class="center rider-name" ng-bind-html="::rider.ios.riderName|nameWithFlag" width="150"></td>
                                    <td class="center" show-amount="{%::rider.ios.WRAmount.ios.normal%}"></td>
                                    <td class="center" show-amount="{%::rider.ios.WRAmount.ios.donkey%}"></td>
                                    <td class="center" show-amount="{%::rider.ios.WRAmount.ios.crazy%}"></td>
                                </tr>
                                <tr>
                                    <td class="center" colspan="10" ng-bind-html="tailRider.length"></td>
                                </tr>
                                <tr ng-repeat="rider in tailRider">
                                    <td class="center rider-name" colspan="10" ng-bind-html="::rider.riderName|nameWithFlag"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {{/with}}
    {{/content}}
{{/extend}}