{{#extend "default"}}
    {{#content "htmlCtrl"}}data-with="worldrecords"{{/content}}
    {{#content "title-override"}}true{{/content}}
    {{#content "title" mode="prepend"}}
        Temple of the legends -
    {{/content}}

    {{#content "styles" mode="prepend"}}
        <link rel="stylesheet" type="text/css" href="/dist/css/table.css{{cacheBuster}}" />
    {{/content}}

    {{#content "ctrl"}}ng-controller="trackData"{{/content}}

    {{#content "body"}}
        {{#with map}}
            <div ng-controller="wrTemple">
                <div ng-init="pageReady = false" ng-hide="pageReady" class="loader spin"></div>
                <div class="page-body is-loading" data-finished="pageReady">

                    {{> table-navigation-worldrecords}}

                    <div class="box no-pad flex" sticky-thead="w50">
                        <table class="w50">
                            <thead>
                                <tr>
                                    <th class="rider-name" width="25"></th>
                                    <th class="rider-name" width="200">
                                        <i class="device-android"></i>
                                        {%'page.worldRecordsTable.headRider'|translate%}
                                    </th>
                                    <th table-sorter="android|normal"><i class="global"></i></th>
                                    <th table-sorter="android|donkey"><i class="donkey"></i></th>
                                    <th table-sorter="android|crazy"><i class="crazy"></i></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="rider in sortedRider.android">
                                    <td class="center rider-name">{%::$index+1|leadingZero%}.</td>
                                    <td class="center rider-name" ng-bind-html="::rider.riderName|nameWithFlag" width="150"></td>
                                    <td class="center" show-amount="{%::rider.WRAmount.android.normal%}"></td>
                                    <td class="center" show-amount="{%::rider.WRAmount.android.donkey%}"></td>
                                    <td class="center" show-amount="{%::rider.WRAmount.android.crazy%}"></td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="w50">
                            <thead>
                            <tr>
                                <th class="rider-name" width="25"></th>
                                <th class="rider-name" width="200">
                                    <i class="device-ios"></i>
                                    {%'page.worldRecordsTable.headRider'|translate%}
                                </th>
                                <th table-sorter="ios|normal"><i class="global"></i></th>
                                <th table-sorter="ios|donkey"><i class="donkey"></i></th>
                                <th table-sorter="ios|crazy"><i class="crazy"></i></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="rider in sortedRider.ios">
                                <td class="center rider-name">{%::$index+1|leadingZero%}.</td>
                                <td class="center rider-name" ng-bind-html="::rider.riderName|nameWithFlag" width="150"></td>
                                <td class="center" show-amount="{%::rider.WRAmount.ios.normal%}"></td>
                                <td class="center" show-amount="{%::rider.WRAmount.ios.donkey%}"></td>
                                <td class="center" show-amount="{%::rider.WRAmount.ios.crazy%}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {{/with}}
    {{/content}}
{{/extend}}