{{#extend "default"}}
    {{#content "title-override"}}true{{/content}}
    {{#content "title" mode="prepend"}}
        Youtube addition
    {{/content}}

    {{#content "preload-images"}}data:loaded{{/content}}

    {{#content "styles" mode="append"}}
        <link rel="stylesheet" type="text/css" href="/dist/css/main.css{{cacheBuster}}"/>
    {{/content}}

    {{#content "body"}}

        <h1>Tracks without Video</h1>

        {{list-tracks-with-no-youtube
            trackIds=map.database.trackdata.ids
            youtubeData=map.database.media.youtube
            tpl="tpls/partials/media/youtube-add-item.hbs"
            i18n="database/i18n/en.json"}}
    {{/content}}
{{/extend}}