{{#extend "default"}}
    {{#content "title-override"}}true{{/content}}
    {{#content "title" mode="prepend"}}
        Youtube addition
    {{/content}}

    {{#content "preload-images"}}data:loaded{{/content}}

    {{#content "styles" mode="append"}}
        <link rel="stylesheet" type="text/css" href="/dist/css/main.css{{cacheBuster}}"/>

        <style>
            body {
                background: #fff;
            }
            
            input.youtube-url {
                width: 300px;
            }

            #json {
                background: #fff;
                padding: 16px;
            }
        </style>
    {{/content}}

    {{#content "body"}}
        <div style="padding: 16px;">
            <h1>Tracks without Video</h1>

            <table>
                <tr>
                    <td>ID</td>
                    <td>Name</td>
                    <td>Insert Youtube URL</td>
                </tr>
                {{list-tracks-with-no-youtube
                        trackIds=map.database.trackdata.ids
                        youtubeData=map.database.media.youtube
                        tpl="tpls/partials/media/youtube-add-item.hbs"
                        i18n="database/i18n/en.json"}}
            </table>

            <h2>Result for dutscher-DE, save on <a href="http://myjson.com/">http://myjson.com/</a> and share the url!
            </h2>

            <pre id="json"></pre>

            <script>
                // https://www.youtube.com/watch?v=aAiAlNhn548
                //  "289": "2|aAiAlNhn548",
                var inputs = document.querySelectorAll(".youtube-url");

                function fillJson() {
                    var json = {};

                    inputs.forEach(function (input) {
                        var valueNotEmpty = input.value !== "",
                            hasVideoID = input.value.split("v=").length >= 1;
                        if (valueNotEmpty && hasVideoID) {
                            json[input.name] = "2|" + input.value.split("v=")[1];
                        }
                    });

                    document.querySelector("#json").innerHTML = JSON.stringify(json, null, 2);
                }

                inputs.forEach(function (input) {
                    input.addEventListener("change", function () {
                        fillJson();
                    });
                });
            </script>
        </div>
    {{/content}}
{{/extend}}