{{#extend "default"}}
    {{#content "title-override"}}true{{/content}}
    {{#content "title" mode="prepend"}}
        Midnight Champs 2017
    {{/content}}

    {{#content "styles" mode="append"}}
        <link rel="stylesheet" type="text/css" href="/dist/css/main.css{{cacheBuster}}"/>
        <link rel="stylesheet" type="text/css" href="/dist/css/table.css{{cacheBuster}}" />
        <style>
            .teams {
                display: flex;
                width: 100%;
                flex-wrap: wrap;
                margin-left: -4px;
            }

            .team {
                border: solid 1px #935A05;
                background: #935A05;
                margin: 4px;
                min-width: 170px;
            }

            .team__header {
                background: #fff;
            }

            .team__name {
                background: #fff;
                padding: 2px;
                white-space: nowrap;
                font-size: 14px;
            }

            .team__stats {
                background: #dadada;
                font-size: 12px;
                padding: 2px;
                text-align: center;
            }

            .team__member {
                color: #ffee99;
                padding: 2px;
                white-space: nowrap;
                font-size: 12px;
            }
        </style>
    {{/content}}

    {{#content "ctrl"}}ng-controller="trackData"{{/content}}

    {{#content "body"}}
        <div class="page-body">
            {{> navigation title='Midnight Champs 2017 | <a href="http://trials.bonxy.net/teams" target="_blank" class="classic-link">http://trials.bonxy.net/teams</a> | <a href="https://docs.google.com/spreadsheets/d/1AzHLhHP8i7QAXexPkiKnen_XrBHx9NBCtyl5rJb1mrA/edit#gid=1617791776" target="_blank" class="classic-link">http://www.bit.ly/midnightchampteams</a>'}}
            <div class="teams">
                {{prio-listMcTeams2017 data=map.database.events.midnightchamps_2017 tpl="tpls/partials/events/team.hbs"}}
            </div>
        </div>
    {{/content}}
{{/extend}}